ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-content {
    display: flex;
    flex-direction: row;
}

.tabs-title {
    padding: 20px;
    background-color: #23201d;
    color: #937341;
    cursor: pointer;
    transition: 0.3s;
}

.tabs-title.active {
    background-color: #937341;
    color: #23201d;
}

.list-item {
    width: 425px;
    display: none;
    animation: fadeEffect 1s;
}

.list-item.active-tab {
    display: block;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
